# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
# Crash log files
crash.log
.terraform/

# Ignore Python virtual environment
venv/
ansible/venv/
__pycache__/
*.pyc

# Ignore Terraform local files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl


# Exclude override files that are usually local config only
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Terraform modules and plugins
.terraform/

# Sensitive variable files (if আপনি ভেরিয়েবল ফাইল এ sensitive data রাখেন)
*.tfvars
*.tfvars.json

# Ignore any generated plan files
*.tfplan
